.login{
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(to right,rgba(0,0,0,0.3),rgba(0,0,0,0.2));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}
.login h2{
    text-align: center;
    margin-bottom: 20px;
}
.input-group{
    margin-bottom: 15px;
    width: 80%;
}
.input-group label{
    display:block;
    margin-bottom: 5px;
    font-weight: 600;
}
.input-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
body{
    background: url(images/login_bkg.jpg);
    background-size: cover;
    background-position: center;
    padding: auto;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #333;
}